<nav class="navbar navbar-expand-lg fixed-top navbarScroll">
    <div class="container">
        <a class="navbar-brand" href="#">Khouloud</a>
        <button class="navbar-toggler" type="button"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Experiences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Academic Projects">Academic Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
            
        </div>
    </div>
  </nav><!-- main banner -->
<section class="bgimage" id="home">
  <div class="container-fluid">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
          <h2 class="hero_title">Hi, it's me khouloud</h2>
          <p class="hero_desc">I am a new graduate in business intelligence and a junior full stack developer.</p>
      </div>
      </div>
  </div>
</section>
<!-- about section-->
<section id="about">
    <div class="container mt-4 pt-4">
        <h1 class="text-center">About Me</h1>
        <div class="row mt-4">
            <div class="col-lg-4">
                <img src="assets/khouloud.jpg" class= "imageAboutPage">
            </div>

            <div class="col-lg-8">
                <p>  I graduated in Business Computing, specializing in Business Intelligence,
                     from the Higher Institute of Management of Sousse in 2023. Throughout my academic journey,
                      I gained extensive knowledge in the field of Business Intelligence and acquired valuable skills in 
                      Power BI and other BI tools. Additionally,
                       I had the opportunity to further enhance my skills through my end-of-year project and an internship, where I focused on web development.
                       This experience fueled my passion for web development.
                </p>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <ul>
                            <li>Name: Khouloud Rebai</li>
                            <li>Age: 22</li>
                            <li>Occupation: Web Developer</li>

                        </ul>
                    </div>
                 
                </div>
                <p>   Furthermore, I am enthusiastic about continuing to practice and refine my skills in this domain.
               </p>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <h1 class="text-center">Experiences</h1>
        <div class="row">
            <div class="col-lg-6 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class="fas servicesIcon fa-clock"></i>
                        <h4 class="card-title mt-3"> SMS notification platform</h4>
                        <p class="card-text mt-3"> I developed a website for SMS notification using Angular, C# .NET, and PostgreSQL. This project enables sending SMS notifications to participants based on the time of their play and the type of game they are involved in.
                        </p>
                    </div>
                </div>  
            </div>
            <div class="col-lg-6 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-layer-group'></i>
                        <h4 class="card-title mt-3"> One month Summer Internship </h4>
                        <p class="card-text mt-3"> I designed the interface of the captive portal website using figma 
                            and learned the basics of the Dart programming language.
                        </p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    </section>
    <section id="Academic Projects" >
        <h1 class="text-center">Academic Projects</h1>

        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-search'></i>
                        <h4 class="card-title mt-3">Java Project</h4>
                        <p class="card-text mt-3">Developed a restaurant management system using Java.
                            Implemented features for order management in a restaurant
                    </div>
                </div>  
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-shield-alt'></i>
                        <h4 class="card-title mt-3">WEB PROGRAMMING PROJECT                        </h4>
                        <p class="card-text mt-3">Course planning and organization
                            Creation of a database using WampServer: phpMyAdmin</p>
                    </div>
                </div>  
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-wrench'></i>
                        <h4 class="card-title mt-3">POWER BI PROJECT</h4>
                        <p class="card-text mt-3">Analysis and cleaning of a CSV file
                            Creation of charts using Power BI software
                          </p>
                    </div>
                </div>  
            </div>
        </div>
    </section>

    <section id="contact" >
        <footer class="footer mt-4">
               
                <div class="row">
                   
                    <div class="col-lg-4 mt-4">
                                <p>Phone :+21625481121</p>

                    </div>
        
                    <div class="col-lg-4 mt-4">
                            <p>Email :khouloudrebai77@gmail.com</p>

                    </div>
                    <div class="col-lg-4 mt-4">
                                <p>LinkedIn :khouloudrebai</p>

                    </div>
                </div>
          </footer>
    </section>